html {
	font-family: sans-serif;
	background-color: powderblue;
	text-align: center;
}

body {
	width: 50%;
	max-width: 800px;
	min-width: 480px;
    margin: 0 auto;
}

.lastResult {
	color: white;
	padding: 3px;
}
h1 {
	color: white;
	background-color: black;
}